<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <title>Connect</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"> -->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="static/css/styles-merged.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="index.html" class="probootstrap-logo">Connect</a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li><a href="{{ url_for('index') }}">主页</a></li>

            <li><a href="{{ url_for('root') }}">水鸟识别</a></li>
            <li><a href="{{url_for('video')}}">视频识别</a></li>
            <li class="active"><a href="{{ url_for('about') }}">关于我们</a></li>

          </ul>
          <div class="extra-text visible-xs"> 
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Address</h5>
            <p>198 West 21th Street, Suite 721 New York NY 10016</p>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->

  <div class="probootstrap-main">

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 probootstrap-animate mb50">
            <div class="probootstrap-card probootstrap-person text-center">
              <div class="probootstrap-card-media">
                <img src="{{ url_for('static', filename='img/1.jpg') }}" class="img-responsive" >
              </div>
              <div class="probootstrap-card-text">
                <h2 class="probootstrap-card-heading mb0">知了</h2>
                <p><small>北京林业大学</small></p>
                <p>成员：张晓璇 李叶凡 何书涵 吴迪</p>
                <p>Emile 625464427@qq.com</p>
                <h4>指导老师 王晗</h4>

              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>

      </div>
    </section>
    <!-- END section -->
  </div>

  <footer class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>北京林业大学数字媒体技术</p>
        </div>
      </div>
    </div>
  </footer>


  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  
  
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>




  
  
  </body>
</html>